.container
  = link_to 'Add A Meme', new_meme_path, class: "button pull-right", style: "width: 120px;"
  %h1 Memes:
  .row
    .col-md-12
      - @memes.each do |m|
        .col-md-4
          .meme-img
            = link_to image_tag(m.avatar.url(:thumb)), m