.background
  .page
    %ul.cb-slideshow
      %li
        %span Image 07
      %li
        %span Image 08
      %li
        %span Image 05
      %li
        %span Image 06
      %li
        %span Image 01
      %li
        %span Image 11
      %li
        %span Image 03
      %li
        %span Image 02
      %li
        %span Image 09
      %li
        %span Image 10
      %li
        %span Image 04
.row
  .authform
    %h3 Brought you by the Memify Team
    .form-group
      %p Danny
    .form-group
      %p Edison
    .form-group
      %p Andy
    .form-group
      %p Andy