// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,800,900);
$font-family-base: "Lato";

// Colors
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);

// Navbar overrides
$navbar-height: 70px;
$navbar-default-bg: #FFF;
$navbar-margin-bottom: none;

a#navbar-brand {
  margin-left:10px;
  font-size: 3.2em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:hover {
    color: #000;
  }
}

.navbar-toggle{
  margin-top:-20px !important;
}

// Button overrides
// $btn-font-weight: normal;
$btn-default-bg: #FFF;

// Landing page

.bg {
  -webkit-background-size: cover;
  background:url('https://farm4.staticflickr.com/3785/13616647304_bb091dc17a_h.jpg') no-repeat center center fixed;
  -webkit-filter:blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

body {
  background: transparent !important;
}

.intro {
  background-image:url("./intro-bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:570px;
  padding-top:200px;
  .headlines {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    color: #FFF;
    span#headlineOne {
      font-size:2.9em; 
    }
    span#headlineTwo {
      font-size:2em; 
    }
  }
}

#login-panel {
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.69);
  padding: 22px;
}

.login-label {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100 !important;
}


.center {
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
}

#logo {
  padding: 40px 0 40px 0;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-weight: 800;
  @media (min-width: 979px) { 
    font-size: 5em; 
  }
  @media (max-width: 979px) {
    font-size: 2em;
    letter-spacing: 3px;
  }
  text-transform: uppercase;
}

#logo-circle {
  color: #777777;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-family: "Lato";
  font-size: 1.2em;
  text-transform: uppercase;
  border: 1px solid #777777;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 0;
  position: relative;
  @media (min-width: 767px) { 
    top: 14px;
  }
  @media (max-width: 766px) {
    top: 14px;
  }
}

.login-field input {
  &[type="text"],&[type="password"]{
    width: 100%;
  }
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 10px;  
}

// Footer
footer {
  margin-top:20px;
  li a{
    font-size:0.9em;
    color:$gray-light;
    &:hover {
      text-decoration:none;
      color:$gray;
    }
  }
  text-align: center;
}

#footer-copyright{
  color: #C7C6C6;
  font-family: "Lato";
  font-weight: 100;
  text-transform: uppercase;
}

// Comment Form
.comment-area {
  resize: none;
}

// Import the CSS framework
@import "bootstrap";

// Make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.authform{
  /*
  width:300px;
  margin: 10px auto;*/
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: rgba(184,184,184,.75); 
  @extend .col-xs-8;
  @extend .col-xs-offset-2;
  @extend .col-sm-4;
  @extend .col-sm-offset-4;
  @extend .col-md-4;
  @extend .col-md-offset-4;
  @extend .bg-info;
  p{
    text-align: center;
  }
  h3{
    text-align: center;
  }
}

.meme-img {
  padding-bottom:50px;
}

.col-md-4 {
  width: 30% !important;
  min-height: 175px !important;
}

@font-face {
  font-family: 'MemeFont';
  src: url('/fonts/impactreg.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('myfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

#meme-title {
  font-weight: 100;
}

.top-comment {
  font-size: 4em;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'MemeFont', Fallback, sans-serif;
  position: relative;
  bottom: 80px;
}
.checkbox input{
  &[type="checkbox"]{
    width: 0px !important;
  }
}


.background{
  background: url("/images/10.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 320px;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  @import "demo";
  @import "style4";
}

.background_1{
  @extend .background;
  background: url("/images/5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background_2{
  @extend .background;
  background: url("/images/7.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row{
  margin: 5% auto;
}

body{
  min-width: 360px
}

.button{
  width:100%;
  margin-top: 10px;
  @extend .btn;
  @extend .btn-info;
  @extend .sub_btn;
}


