// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,800,900);
$font-family-base: "Lato";

// Colors
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);

// Navbar overrides
$navbar-height: 70px;
$navbar-default-bg: #FFF;
$navbar-margin-bottom: none;

a#navbar-brand {
  margin-left:10px;
  font-size: 3.2em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:hover {
    color: #000;
  }
}

// Button overrides
// $btn-font-weight: normal;
$btn-default-bg: #FFF;

// Landing page

.bg {
  -webkit-background-size: cover;
  background:url('https://farm4.staticflickr.com/3785/13616647304_bb091dc17a_h.jpg') no-repeat center center fixed;
  -webkit-filter:blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

body {
  background: transparent !important;
}

.intro {
  background-image:url("./intro-bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:570px;
  padding-top:200px;
  .headlines {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    color: #FFF;
    span#headlineOne {
      font-size:2.9em; 
    }
    span#headlineTwo {
      font-size:2em; 
    }
  }
}

#login-panel {
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.64);
  padding: 22px;
}

.login-label {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
}


.center {
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
}

#logo {
  padding: 60px 0px;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  @media (min-width: 979px) { 
    font-size: 5em; 
  }
  @media (max-width: 979px) {
    font-size: 2em;
  }
  text-transform: uppercase;
}

.login-field input {
  &[type="text"],&[type="password"]{
    width: 100%;
  }
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 10px;  
}

// Footer
footer {
  margin-top:20px;
  li a{
    font-size:0.9em;
    color:$gray-light;
    &:hover {
      text-decoration:none;
      color:$gray;
    }
  }
}

// Comment Form
.comment-area {
  resize: none;
}

// Import the CSS framework
@import "bootstrap";

// Make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.authform{
  /*
  width:300px;
  margin: 10px auto;*/
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: rgba(184,184,184,.75); 
  @extend .col-xs-8;
  @extend .col-xs-offset-2;
  @extend .col-sm-4;
  @extend .col-sm-offset-4;
  @extend .col-md-4;
  @extend .col-md-offset-4;
  @extend .bg-info;
}


.background{
  background: url("/images/2245043296_198ffd4917_o.jpg");
  background-size: auto 170%;
  min-width: 320px;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
}

.row{
  margin: 5% auto;
}

body{
  min-width: 360px
}

.button{
  width:100%;
  margin-top: 10px;
  @extend .btn;
  @extend .btn-info;
  @extend .sub_btn;
}